.list-menu,
.list-menu_small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.list-menu {
  width: 20rem;
}

.list-menu_small {
  width: 5rem;
}

.list-menu_content-menu,
.list-menu_small_content-menu,
.footer_content-menu {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.list-menu_content-menu,
.footer_content-menu {
  justify-content: flex-start;
}

.list-menu_small_content-menu {
  justify-content: center;
}

.list-menu_icon {
  width: 2rem;
  cursor: pointer;
}

.list-menu_icon > img {
  width: 100%;
}

.list-menu_name > a {
  text-decoration: none;
  font-size: 24px;
  color: #c0bfbd;
}
