body {
  margin: 0;
}

#root {
  position: relative;
  height: 100vh;
  display: flex;
}

.main_box {
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 3;
  transform: translateX(-77%);
  transition: all 0.3s ease;
}

.main_box:hover {
  transform: translateX(0vh);
  transition: all 0.3s ease;
}

.white-box {
  width: 9rem;
  z-index: 5;
}

.main,
.main_small {
  background-color: #242625;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 25rem;
}

.main_small {
  width: 8rem;
  height: 100vh;
  z-index: 1;
}
