.header,
.header_small {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  padding: 1rem 2rem;
  box-sizing: border-box;
  gap: 1.5rem;
}

.header_avatar {
  width: 4rem;
  height: 4rem;
  background-color: #a492ff;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.7rem;
  box-sizing: border-box;
}

.header_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
}

.header_user-name {
  font-size: 30px;
  font-weight: bolder;
  color: #efefef;
}

.header_user-mail {
  font-size: 24px;
  color: #c0bfbd;
}

.header_icon,
.header_icon_small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a492ff;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
}

.header_icon {
  left: 24rem;
}

.header_icon_small {
  left: 7rem;
}
