.footer,
.footer_small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 8rem 0 3rem;
}

.footer {
  width: 20rem;
}

.footer_small {
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 8rem 0 3rem;
}

.footer_icon {
  width: 4rem;
  height: 2rem;
  background-color: #424444;
  border-radius: 100px;
  margin-left: 1rem;
  position: relative;
  box-sizing: border-box;
}

.checkbox {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

input[type="checkbox"] {
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  background-color: #0000005e;
}

.checkbox > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

input[type="checkbox"]:checked {
  background: #424444;
}
