.menu_search,
.menu_search_small {
  position: relative;
  display: flex;
  align-items: center;
}

.menu_search {
  width: 20rem;
  height: 4rem;
}

.menu_search_small {
  width: 5rem;
  height: 4rem;
}

.menu-search_lupa {
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

#menu_input,
#menu_input_small {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #424444;
  border: 1px solid #424444;
  font-size: 24px;
}

#menu_input {
  padding-left: 4rem;
}
